@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  grid-gap: 20px;

  width: 100%;
  height: 100%;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-dots li button:before {
  color: #ec7d21 !important;
  opacity: 0.4 !important;
}

li.slick-active button:before {
  opacity: 1 !important;
  color: #ec7d21 !important;
}

@media only screen and (max-width: 768px) {
  .homeintro {
    width: 100% !important;
  }
  .responsive-hide {
    display: none !important;
  }
}
